* {
	margin: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
	user-select: none;
}

#nav-bar {
	padding-left: 10px;
	padding-right: 10px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
	background-color: #e57a44;
	height: 50px;
	z-index: 999;
}
h1 a {
	color: white;
	text-decoration: none;
}

#main {
	display: flex;
}
#section {
	width: 100%;
	margin-top: 80px;
	margin-bottom: 80px;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	row-gap: 15px;
	column-gap: 2%;
}

#form input {
	border-radius: 10px;
	border: none;
	padding: 8px;
	outline: none;
	width: 600px;
	font-size: 16px;
}
.movie {
	position: relative;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 10px;
	max-width: 250px;
	border: none;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.movieImage img {
	width: 220px;
	height: 350px;
	object-fit: cover;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.movieImage,
.movieTitle {
	display: flex;
	justify-content: center;
	align-items: center;
}

.movieTitle .Title {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	width: 150px;
}

.overview {
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: white;
	color: black;
	font-size: 16px;
	font-style: italic;
	transition: 0.1s;
	opacity: 0;
	border-radius: 10px;
	padding: 5px;
}

.movie:hover .overview {
	opacity: 1;
	width: 95%;
	height: max-content;
	z-index: 1;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 700px) {
	#section {
		width: 100%;
		margin-top: 80px;
		row-gap: 15px;
		display: flex;
		margin-bottom: 80px;
	}
	.movie {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 49%;
		border: none;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	}

	#form input {
		width: 200px;
		font-size: 16px;
	}

	.movieImage img {
		width: 98%;
		height: 300px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	.movieTitle .Title {
		width: 150px;
		font-size: 16px;
		font-weight: bold;
		text-align: center;
	}
}

#footer {
	padding-left: 10px;
	padding-right: 10px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.6);
	background-color: #e57a44;
	height: 50px;
}

#footer p {
	color: rgb(255, 255, 255);
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
}
